@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #1e293b;
        --foreground: #f1f5f9;

        --primary: #1e293b;
        --primary-foreground: #f1f5f9;

        --secondary: #e2e8f0;
        --secondary-foreground: #0f172a;

        --accent: #64748b;

        --radius: 0.5rem;
    }
}

* {
    box-sizing: border-box;
}

input {
    @apply border border-accent rounded-md p-1.5 mb-2 focus-visible:ring-2 focus-visible:ring-accent focus-visible:ring-offset-1 outline-slate-400
}
